body {
	position: relative;
	background-color: white;
	text-align: center;
	color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}

table {
	background-color: grey;
	box-shadow: 5px 5px 5px 5px rgb(61, 60, 60);
	margin: 30px auto;
	/* border: 1px solid lightgray; */
}

tbody {
	box-shadow: 5px 5px 10px rgb(59, 58, 58);

}

.cell {
	box-shadow: 1px 1px 1px 1px rgb(61, 60, 60);
	/* border: 1px solid lightgray; */
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.content {
	color: black;
}

.cell:active {
	background-color: rgb(69, 68, 68);
}

.cell span {
	display: none;
}

.cell.revealed {
	background-color: rgb(176, 174, 174);
	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);

}

.game-emoji {
	background-color: grey;

	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);
	/* padding: 3px; */
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
	font-size: 30px;
}

.game-emoji:active {
	background-color: rgb(69, 68, 68);
}

.stop-watch{
		background-color: grey;

	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);
	padding: 3px;
	margin: auto;
	color:rgb(1, 71, 1);
	/* margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px; */
	font-size: 30px;
}

.game-over {
	position: absolute;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	display: none;
	width: 300px;
	height: 300px;

	padding: 5px;
	background-color: transparent;
}

button {
	position: relative;
	bottom: 30%;
}

.game-over div {
	margin: 10px auto;
	height: 80%;
	width: 80%;
}

.game-over div img {
	width: 100%;
	height: 100%;
}

.board-container {
	align-items: center;
}