* {
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: lightgray;
	text-align: center;
	color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}

.hint {
	position: relative;
	font-size: 3rem;
	text-align: center;
	/* border: 1px black; */
	color: black;
	margin: 0.5rem;
	cursor: pointer;
}

.hint:active {
	color: rgb(255, 222, 164)
}

.hint.disabled:active {
	color: rgb(255, 64, 0);

}

table {
	background-color: grey;
	box-shadow: 5px 5px 5px 5px rgb(61, 60, 60);
	margin: 30px auto;
	/* border: 1px solid lightgray; */
}


.cell {
	box-shadow: 1px 1px 1px 1px rgb(61, 60, 60);
	border: none;
	width: 40px;
	height: 40px;
	font-size: 1.5em;

	transition: 0.3s
}

.content {
	color: black;
}

.cell:active {
	background-color: rgb(69, 68, 68);
	/* transition: 0.3s */
}

.cell:hover {
	background-color: rgb(69, 68, 68);
	/* transition: 0.3s */
}

.cell span {
	display: none;
}

.cell.revealed {
	background-color: rgb(176, 174, 174);
	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);

}

.cell.hint-revealed {
	border: 3px solid burlywood;
	transition: 0.3s
}

.cell.hint-revealed .content {
	color: burlywood;
}

.game-emoji {
	background-color: grey;

	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);
	/* padding: 3px; */
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
	font-size: 30px;
}

.game-emoji:active {
	background-color: rgb(69, 68, 68);
}

.stop-watch {
	background-color: grey;

	box-shadow: inset 1px 1px 1px 1px rgb(62, 62, 62);
	padding: 3px;
	margin: auto;
	color: rgb(1, 71, 1);
	font-size: 30px;
}

.modal {
	position: absolute;
	align-items: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	width: 300px;
	height: 300px;
	padding: 5px;
}


img {
	margin: auto;
}

.game-over {
	background-color: transparent;
}

.session-form {
	margin: auto;

	opacity: 100%;
	/* background-color: transparent; */
	color: black;
	/* border: 1px solid black; */
	/* border-radius: 10% */

}

.session-form input {
	margin: 10px;
}



.game-over div {
	margin: 10px auto;
	height: 80%;
	width: 80%;
}

.game-over div img {
	width: 100%;
	height: 100%;
}

.board-container {
	align-items: center;
}

.modal button {
	position: relative;
	bottom: 50px;
	background-color: burlywood;
	margin: auto 3px;
}

.score-board {
	display: inline-block;
}

.score-board table {
	border-collapse: collapse;
	background-color: antiquewhite;
	box-shadow: none;
}

.score-board td,
th {
	color: brown;
}

.score-board td,
th {
	padding: 3px;
	border: 1px solid black;
	border-collapse: collapse;
}

.hover {
	background-color: burlywood;
}

.hover:active {
	background-color: burlywood;
}

.hover:hover {
	background-color: burlywood;
}